@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


h1{
    position: relative;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
}

.gif-404{
    position: absolute;
    display: flex;
    flex-direction: ;
    width: 600px;
    height: 400px;
}

