@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: rgb(51, 49, 49);
    color: rgb(255, 255, 255);
    overflow-x:hidden;
    margin: 0%;
}


/*                                                --------------------------------------RESPONSIVE--------------------------------------  */





 /*                                                --------------------------------------MENU DE NAVIGATION ENTRE LES PAGES--------------------------------------  */


 *,
 *::after,
 *::before{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 
 
 
 .navbar input[type="checkbox"],
 .navbar .hamburger-lines{
     display: none;
 }
 
 .container{
     max-width: 1200px;
     width: 100%;
     margin: auto;
 }
 
 .navbar{
     box-shadow: 0px 10px 45px 10px rgb(0, 0, 0);
     position: sticky;
     width: 100%;
     background-color: rgb(51, 49, 49);
     opacity: 0.96;
     z-index: 100;
 }
 
 .navbar-container{
     display: flex;
     justify-content: center;
     height: 70px;
     width: 1920px;
     align-items: center;
 }
 
 .menu-items{
     order: 2;
     display: flex;
      text-align: center;
 }
 .logo{
     order: 1;
     font-size: 2.3rem;
 }
 
 .menu-items li{
     list-style: none;
     margin-left: 1.5rem;
     font-size: 1.3rem;
     color: rgb(255, 0, 0);
 }
 .menu-items ul{
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  color: rgb(255, 0, 0);
  }
 
 .navbar a{
     color: #444;
     text-decoration: none;
     font-weight: 500;
     transition: color 0.3s ease-in-out;
 }
 
 .navbar a:hover{
  color: rgb(0, 162, 255);
  border-bottom: 2px solid rgb(4, 8, 255);
 }
 
 @media (max-width: 760px){
     .navbar{
         opacity: 0.95;
     }
 
     .navbar-container input[type="checkbox"],
     .navbar-container .hamburger-lines{
         display: block;
     }
 
     .navbar-container{
         display: block;
         position: relative;
         height: 70px;
     }
 
     .navbar-container input[type="checkbox"]{
         position: absolute;
         display: block;
         height: 32px;
         width: 30px;
         top: 20px;
         left: 20px;
         z-index: 5;
         opacity: 0;
         cursor: pointer;
     }
 
     .navbar-container .hamburger-lines{
         display: block;
         height: 48px;
         width: 55px;
         position: absolute;
         top: 20px;
         left: 20px;
         z-index: 2;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
 
     .navbar-container .hamburger-lines .line{
         display: block;
         height: 4px;
         width: 100%;
         border-radius: 10px;
         background: rgb(255, 254, 254);
        }
         
     
     .navbar-container .hamburger-lines .line1{
         transform-origin: 0% 0%;
         transition: transform 0.3s ease-in-out;
     }
 
     .navbar-container .hamburger-lines .line2{
         transition: transform 0.2s ease-in-out;
     }
 
     .navbar-container .hamburger-lines .line3{
         transform-origin: 0% 100%;
         transition: transform 0.3s ease-in-out;
     }
 
     .navbar .menu-items{
         padding-top: 100px;
         background-color: rgb(51, 49, 49);
         height: 1000px;
         max-width: 300px;
         transform: translate(-150%);
         display: flex;
         flex-direction: column;
         margin-left: -40px;
         padding-left: 40px;
         transition: transform 0.5s ease-in-out;
         box-shadow:  5px 0px 10px 0px rgb(0, 0, 0);
         overflow: scroll;
     }
 
     .navbar .menu-items li{
         margin-bottom: 1.8rem;
         font-size: 1.1rem;
         font-weight: 500;
         
     }
 
    
 
     .navbar-container input[type="checkbox"]:checked ~ .menu-items{
         transform: translateX(0);
     }
 
     .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
         transform: rotate(45deg);
     }
 
     .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
         transform: scaleY(0);
     }
 
     .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
         transform: rotate(-45deg);
     }
 
 }
 
 




nav{
    width: 100%;
    background-color: rgb(51, 49, 49);
    position: sticky;
    z-index: 20;
    top: 0px;
    text-shadow: black 0.5em 0.5em 0.5em
}

nav ul{
    list-style-type: none;
}

nav li{
    width: 200px;
    text-align: center;
    
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
    
}


nav a{
    display: block; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 23px 25px;
    
}

nav a:hover{
    color: rgb(0, 162, 255);
    border-bottom: 5px solid rgb(4, 8, 255);
    
} 

nav .lien{
  color: rgb(255, 255, 255);
}

.p.lien{
  height: 70px;
}
.lien-nom{
    margin-right: 50px;
    display: block;
    padding: 23px 25px;
    position: absolute;
    color: #ffffff;
    
}
.a{
    color: #ffffff;
}

/* lien visiter*/

a:visited{
    color: #ffffff;
}

  /* souris sur le lien */
a:hover{
    color: rgb(0, 162, 255);
    text-shadow: black 0px 0px 0px;
}


/*                                                       --------------------------------------FOOTER-------------------------------------*/
.box-footer{
    background-color: rgb(39, 35, 35);
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    top: 900px;
    
}





/*                                                       --------------------------------------PAGE ACCUEIL--------------------------------------*/

.image-baniere{
    overflow: hidden;
    display: flex;
    position:absolute;  
    z-index: -1; 
    left: 0px;
    width: 100%;
    text-shadow: black 0.1em 0.1em 0.2em
    
    
    
}

.titre-accueil{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  text-shadow: black 0.1em 0.1em 0.1em;
  margin-left: 2%;
  width: 800px;
  margin-top: 5%;
}


.texte-accueil{
  margin-left: 1%;
  display: flex;
  position: relative;
  font-size: 30px;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: 10%;
}


.baniere{
    overflow: hidden;
    background: no-repeat url("03-resource/baniere.png");
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    font-size: 35px;
    width: 1920px;
    margin: 0%;
    text-shadow: black 0.1em 0.1em 0.2em
    
    
    
}



.image-accueil{
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute;
    width: 400px;
    height: 250px;
    justify-content: space-between;
    left: 75%;
    margin-top: 5%;
    
  
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-3 12:6:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

.box-mess-accueil{
    font-family: 'Roboto', sans-serif;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    position: relative;
    display: flex;
    width: 1500px;
    height: 400px;
    margin-top: -70px;
    font-size: 35px;
    text-align: start;
    text-shadow: black 0.5em 0.5em 0.5em;
    margin: 0%;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-2-3 12:3:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/* @media screen and (max-width: 600px) {
   .image-accueil{
    margin-left: 800px;
    } 
     
}  */






/*                                                       --------------------------------------CV--------------------------------------*/
.CV-LIEN{
    color: rgb(255, 255, 255);
    position: relative;
    top: -22px;
    left:-375px ;
    

}




.CV {
    width: 17.5cm; 
    height: 21.5cm;
    margin-top: 10px;
}



.INFO-CV{
    font-size: 35px;
    margin-top: -0cm;
    font-family: 'Roboto', sans-serif;
}




/*                                                       --------------------------------------MON LABOS--------------------------------------*/


.titre-tableau{
  margin-top:10%;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}


.ligne{
  margin-left: 20px;
}

table
{
    border-collapse: collapse;
    margin-top: 2%;
    width: 30%;
    font-size: 150%;
    justify-content: center;
    text-align: center;
}
td /* Mettre une bordure sur les td ET les th */
{
  
    border: 1px solid rgb(255, 255, 255);
    margin-left: 120px;
  }

th{
  border: 1px solid rgb(255, 255, 255);
  
}


h1{
    position: relative;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
}

.gif-404{
    position: absolute;
    display: flex;
    
    width: 600px;
    height: 400px;
}









/*                                                       --------------------------------------Épreuve E4--------------------------------------*/

.situation-pro-1 {
    margin-left: 20px;
    display: flex;
    margin-top:  10%;
    width: 13cm;
    height:18.7cm;
    justify-content: center;
}

.info-situation-pro-1{
    margin: 0;
    font-size: 20px;
    width: 550px 
}


.situation-pro-2 {
    display: flex;
    margin-top:  10%;
    
    width: 13cm;
    height:18.7cm;
      
}

.info-situation-pro-2{
    margin: 0;
    font-size: 20px;
    width: 600px  
}

.box-parent{   
    display: flex;
    margin-top:  0%;
    width: 24cm;
    height: 15cm;
    z-index: 10;   
}





/*                                                       -------------------------------------ÉPREUVE E5--------------------------------------*/


.photo-epreuve-e5{
    width: 10px;
    display: block;
}



.epreuve-e5 {
    position: relative;
    top: 40px; 
    left: 40px;
    display: flex;
    width: 13cm;
    height:18.7cm;
    justify-content: center;      
}

.info-epreuve-e5{
    margin-top: 50px;
    font-size: 25px;
    width: 800px;
     
}







/*                                                       --------------------------------------A PROPOS--------------------------------------*/








/*                                                       --------------------------------------CONTACT--------------------------------------*/

	


         .text-formulaire{
            font-family: 'Marcellus', serif;
            margin: 5%;
            width: 250px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
        } 
        
        .text-contact{
            margin-top: -6%;
            padding: auto;
        }


        .text-message-entre{
            width: 75%;
            position: relative;
            display: flex;
            height: 100px;
            margin-left: 30%;
            margin-top: -10%;
            
            
        }
        .bouton-message{
            display: flex;
            position: relative;
            left: 92%;
        }
    
      
    
        .contain {
            position: relative;
            width: 400px;
            height: 380px;
            background-color: rgb(49, 47, 47);
            box-shadow: 2px 2px 5px 5px rgb(78, 74, 74);
            border-radius: 40px;
            padding: 40px;
            -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            
        }
    



/* ----------------animation----formulaire------------------------------
 * Generated by Animista on 2022-2-10 15:21:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  




/* -------------animation---text---------------------------------
 * Generated by Animista on 2022-2-10 14:58:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  


  .anim-tel{
    
        -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    

}

.anim-mail{
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;

}

.anim-adresse{
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.50s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.50s both;

}


.anim-linkedin{
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.75s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.75s both;
    
}


.box{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
}

.box-parent{
    
    display: flex;
    width: 600px;
    height: 450px;
    background-color: rgb(51, 49, 49);
    
    
}

.image-tel{
    
    width: 90px; 
    height: 90px;
    position: absolute;
    margin-top: 0px;
    left: 0px;
    
}

.image-mail{
    
    width: 90px; 
    height: 90px;
    position: absolute;
    margin-top: 100px ;
    left: 0px ;
}


.image-adresse{
    
    width: 90px; 
    height: 90px;
    position: absolute;
    margin-top: 200px;
    left:0px ;
}


.image-linkedin{
    
    width: 90px; 
    height: 90px;
    position: absolute;
    margin-top: 300px; ;
    left: 0px;  
}



.texte-tel{
   
    font-size: 25px;
    position: absolute;
    margin-top: 35px; ;
    left: 90px; 
    
}

.texte-mail{
    
    font-size: 25px;
    position: absolute;
    margin-top: 133px; ;
    left: 90px; 
    
}

.texte-adresse{
    
    font-size: 25px;
    position: absolute;
    margin-top: 233px; ;
    left: 90px;      
}

.texte-linkedin{
    
    font-size: 25px;
    position: absolute;
    margin-top: 333px; ;
    left: 90px; 
    
}




.image-contact{
    position: absolute;
    margin-top: 300px; ;
    left: 0px; 
    
}


.box-parent-formulaire{
    
    display: flex;
    left: 620px; 
    width: 500px;
    height: 450px;
    background-color: rgb(51, 49, 49);
}




