@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: rgb(51, 49, 49);
    color: rgb(255, 255, 255);
    overflow-x:hidden;
    margin: 0%;
}


/*                                                --------------------------------------FOOTER--------------------------------------  */

footer {
  margin-top:250px;
  width: 100%;
  height: 200px;
  background: rgb(51, 49, 49);
  position: relative;
  bottom: 0px;
  box-shadow: 0px 10px 45px 10px rgb(0, 0, 0);
  z-index: 100;
  
  }
.footer2{
  top: 300px;
}
.footer3{
  margin-top: 200px;
  width: 100%;
  height: 200px;
  background: rgb(51, 49, 49);
  position: relative;
  bottom: 0px;
  box-shadow: 0px 10px 45px 10px rgb(0, 0, 0);
  z-index: 100;
  
}

  .contianer-footer{
    position: relative;
    top: 50px;
    width: 900px;
    display: flex;
    left: 55%;
    transform: translate(-50%);
    
  }

  .lien-footer {
    text-decoration: none; 
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-shadow: black 0.5em 0.5em 0.5em;
  }
  .lien-footer:hover{
    color: rgb(0, 162, 255);
    text-shadow: black 0px 0px 0px;


  }


  .copyright{
    display: flex;
    position: absolute;
    bottom:15%;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    
  }
  hr{
    
    border: 2px solid rgb(28, 68, 156);
    
  }
  .bar {
    background: rgb(28, 68, 156);
    width: 2px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

 /*  -------------------------------------------------------------------------MENU DE NAVIGATION ENTRE LES PAGES--------------------------------------  */



.lien-menu{
  height: 1px;
  justify-content: center;
  text-shadow: black 8px 5px 7px;
  margin: -10px;
  

}


.lien-menu:hover{
  color: rgb(0, 162, 255);
  border-bottom: 5px solid rgb(4, 8, 255);
  text-shadow: black 0px 0px 0px;
  height: 55px;
  
} 




nav 
{
    
    
    height: 60px;
    
    opacity: 0.96;
    z-index: 100;
    background-color: rgb(51, 49, 49);
    box-shadow: 0px 10px 45px 10px rgb(0, 0, 0);
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
}
 



/*                                                       -------------------------------------- RESPONSIVE -------------------------------------*/
label, #toggle
{
    display: none;
}
 
@media all and (max-width: 1000px)
{
    nav
    {
        height: 90px;
        align-items: center;
    }
 
    nav .main_pages 
    {
        display: flex;
        flex-direction: column;
        opacity: 0.96;
        z-index: 100;
        background-color: rgb(51, 49, 49);
        box-shadow: 0px 5px 20px  rgb(0, 0, 0);
        height: 570px;
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label 
    {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 90px;
        color: white;
        cursor: pointer;
    }
 

    #toggle:checked + .main_pages {
        display: flex;
    }
    .tiret{
      justify-content: center;
      margin: 0%;
      border: 0%;
    }
   
    

    .baniere{
      position: relative;
      overflow: hidden;
    background: no-repeat url("03-resource/baniere.png");
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    font-size: 50px;
    width: 1000px;
    margin: 0%;
    text-shadow: black 0.1em 0.1em 0.2em
      
      
      
  }















  }

  





/*                                                       --------------------------------------FOOTER-------------------------------------*/






/*                                                       --------------------------------------PAGE ACCUEIL--------------------------------------*/

.image-baniere{
    overflow: hidden;
    display: flex;
    position:absolute;  
    z-index: -1; 
    left: 0px;
    width: 100%;
    text-shadow: black 0.1em 0.1em 0.2em
    
    
    
}

.titre-accueil{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  text-shadow: black 0.1em 0.1em 0.1em;
  margin-left: 2%;
  width: 800px;
  margin-top: 5%;
}


.texte-accueil{
  margin-left: 3%;
  display: flex;
  position: relative;
  font-size: 27px;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: 8%;
 
}


.baniere{
    overflow: hidden;
    background: no-repeat url("03-resource/baniere.png");
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    font-size: 35px;
    width: 1920px;
    margin: 0%;
    text-shadow: black 0.1em 0.1em 0.2em
    
    
    
}



.image-accueil{
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute;
    width: 400px;
    height: 250px;
    justify-content: space-between;
    left: 75%;
    margin-top: 5%;
    border-radius: 15px !important;
    border: black solid 1px;
    box-shadow: rgb(0, 0, 0)  10px 10px 10px ;
  
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-3 12:6:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

.box-mess-accueil{
    font-family: 'Roboto', sans-serif;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    position: relative;
    display: flex;
    width: 1500px;
    height: 400px;
    margin-top: -70px;
    font-size: 35px;
    text-align: start;
    text-shadow: black 0.5em 0.5em 0.5em;
    margin: 0%;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-2-3 12:3:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/* @media screen and (max-width: 600px) {
   .image-accueil{
    margin-left: 800px;
    } 
     
}  */






/*                                                       --------------------------------------CV--------------------------------------*/
.CV-LIEN{
    color: rgb(255, 255, 255);
    position: relative;
    top: -22px;
    left:-375px ;
    

}




.CV {
    width: 17.5cm; 
    height: 21.5cm;
    margin-top: 10px;
}



.INFO-CV{
    font-size: 35px;
    margin-top: -0cm;
    font-family: 'Roboto', sans-serif;
}




/*                                                       --------------------------------------MON LABOS--------------------------------------*/


.titre-tableau{
  margin-top:10%;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}


.ligne{
  margin-left: 20px;
}

table
{
    border-collapse: collapse;
    margin-top: 2%;
    width: 30%;
    font-size: 150%;
    justify-content: center;
    text-align: center;
}
td /* Mettre une bordure sur les td ET les th */
{
  
    border: 1px solid rgb(255, 255, 255);
    margin-left: 120px;
  }

th{
  border: 1px solid rgb(255, 255, 255);
  
}


h1{
    position: relative;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
}

.gif-404{
    position: absolute;
    display: flex;
    
    width: 600px;
    height: 400px;
}









/*                                                       --------------------------------------Épreuve E4--------------------------------------*/

.situation-pro-1 {
    margin-left: 20px;
    display: flex;
    margin-top:  10%;
    width: 13cm;
    height:18.7cm;
    justify-content: center;
    margin-bottom: 60px;
}

.info-situation-pro-1{
    margin: 0;
    font-size: 20px;
    width: 550px;
    margin-bottom: 200px;
}


.situation-pro-2 {
    display: flex;
    margin-top:  9%;
    margin-bottom: 60px;
    width: 13cm;
    height:18.7cm;
      
}

.info-situation-pro-2{
    margin: 0;
    font-size: 20px;
    width: 600px;  
    margin-bottom: 200px;
}

.box-parent{   
    display: flex;
    margin-top:  0%;
    width: 24cm;
    height: 15cm;
    z-index: 10;   
}





/*                                                       -------------------------------------ÉPREUVE E5--------------------------------------*/


.photo-epreuve-e5{
    width: 10px;
    display: block;
}



.epreuve-e5 {
    position: relative;
    top: 40px; 
    left: 40px;
    display: flex;
    width: 13cm;
    height:18.7cm;
    justify-content: center;      
}

.info-epreuve-e5{
    margin-top: 50px;
    font-size: 25px;
    width: 800px;
     
}







/*                                                       --------------------------------------A PROPOS--------------------------------------*/








/*                                                       --------------------------------------CONTACT--------------------------------------*/

	


         .text-formulaire{
            font-family: 'Marcellus', serif;
            margin: 5%;
            width: 250px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
        } 
        
        .text-contact{
            margin-top: -6%;
            padding: auto;
        }


        .text-message-entre{
            width: 75%;
            position: relative;
            display: flex;
            height: 100px;
            margin-left: 30%;
            margin-top: -10%;
            
            
        }
        .bouton-message{
            display: flex;
            position: relative;
            left: 92%;
        }
    
      
    
        .contain {
            position: relative;
            width: 400px;
            height: 380px;
            background-color: rgb(49, 47, 47);
            box-shadow: 2px 2px 5px 5px rgb(78, 74, 74);
            border-radius: 40px;
            padding: 40px;
            -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            
        }
    



/* ----------------animation----formulaire------------------------------
 * Generated by Animista on 2022-2-10 15:21:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  




/* -------------animation---text---------------------------------
 * Generated by Animista on 2022-2-10 14:58:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  


  .anim-tel{
    
        -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    

}

.anim-mail{
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;

}

.anim-adresse{
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.50s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.50s both;

}


.anim-linkedin{
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.75s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.75s both;
    
}


.box{
        display: flex;
        
        margin-top: 60px;
}

.box-parent{
    
    display: flex;
    position: relative;
    width: 600px;
    height: 450px;
    background-color: rgb(51, 49, 49);
    
    
    
    
}

.image-tel{
    
    width: 90px; 
    height: 90px;
    position: absolute;
    margin-top: 0px;
    left: 0px;
    
}

.image-mail{
    
    width: 90px; 
    height: 90px;
    position: absolute;
    margin-top: 100px ;
    left: 0px ;
}


.image-adresse{
    
    width: 90px; 
    height: 90px;
    position: absolute;
    margin-top: 200px;
    left:0px ;
}


.image-linkedin{
    
    width: 90px; 
    height: 90px;
    position: absolute;
    margin-top: 300px; ;
    left: 0px;  
}



.texte-tel{
   
    font-size: 25px;
    position: absolute;
    margin-top: 35px; ;
    left: 90px; 
    
}

.texte-mail{
    
    font-size: 25px;
    position: absolute;
    margin-top: 133px; ;
    left: 90px; 
    
}

.texte-adresse{
    
    font-size: 25px;
    position: absolute;
    margin-top: 233px; ;
    left: 90px;      
}

.texte-linkedin{
    
    font-size: 25px;
    position: absolute;
    margin-top: 333px; ;
    left: 90px; 
    
}




.image-contact{
    position: absolute;
    margin-top: 300px; ;
    left: 0px; 
    
}


.box-parent-formulaire{
    
    display: flex;
    left: 620px; 
    width: 500px;
    height: 450px;
    background-color: rgb(51, 49, 49);
}




