.situation-pro-1 {
    
   
    
}

.info-situation-pro-1{
    
    font-size: 20px;
    
    
}

.situation-pro-2 {
    
    
    
}

.info-situation-pro-2{
    
    font-size: 20px;
    
}

.box-parent{   
    display: flex;
    margin-top:  0%;
    width: 24cm;
    height: 15cm;
    z-index: 10;
    
    
}

@media screen and (max-width: 600px) {
    .box-parent{
    flex-direction: column;
    }
}


.fond-png-1{
    position: absolute;
    display: flex;
    place-items: right;
    width: 14.8cm;
    height: 21cm;
    background: salmon;
    z-index: -10;
    
}

.fond-png-2{
    position: absolute;
    display: flex;
    width: 14.8cm;
    height: 21cm;
    background: salmon;
    margin-top: 0;
    right: 0;
    z-index: -10;
}