body{
    background-color: rgb(51, 49, 49);
    color: rgb(255, 255, 255);
    overflow-x:hidden;
}


/* MENU DE NAVIGATION ENTRE LES PAGES */
nav{
    width: 100%;
    bbackground-color: rgb(51, 49, 49);
    position: sticky;
    z-index: 20;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 15%;
    text-align: center;
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 15px 20px;
}

nav a:hover{
    color: rgb(0, 162, 255);
    border-bottom: 2px solid rgb(4, 8, 255);
}



.a{
    color: #ffffff;
}

/* lien visiter*/

a:visited{
    color: #ffffff;
}

  /* souris sur le lien */
a:hover{
    color: rgb(0, 162, 255);
}










