.CV-LIEN{
    color: rgb(255, 255, 255);
    position: relative;
    top: -22px;
    left:-375px ;
    

}




.CV {
    width: 17.5cm; 
    height: 21.5cm;
    margin-top: -1cm;
}



.INFO-CV{
    font-size: 35px;
    margin-top: -0cm;
}
